main {
  background-color: #202124;
  color: white;
  flex-grow: 1;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
}

.form-container {
  min-width: 400px;
}

.form-container h2 {
  font-weight: 300;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.form-container form input {
  height: 40px;
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
