.main {
  color: white;
  flex-grow: 1;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.container h1 {
  font-weight: 400;
}

.container div > div {
  text-align: center;
}
